<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main class="container bg-light">
    <header class="row bg-dark pt-3 pb-3 text-white">
        <h2>Oauth2 server</h2>
    </header>
    <div class="row page-content">
        <div class="col-3 text-center">
            <a class="menu-button" th:href="@{/}">
                Main
            </a>
            <a class="menu-button" th:href="@{/register}">
                Register
            </a>
        </div>
        <div class="col-9 pt-3 pb-3">
            <div class="login-form">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <legend>Login form</legend>
                        <div th:if="${param.error}" class="alert alert-error">
                            Invalid username or password.
                        </div>
                        <div>
                            <input type="text" id="username" name="username" placeholder="login"/><br>
                        </div>
                        <div>
                            <input type="password" id="password" name="password" placeholder="password"/><br>
                        </div>
                        <div>
                            <button type="submit">Zaloguj</button>
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>
    <footer class="row bg-dark pt-3 pb-3 text-white">
        <a>Oauth 2.0 authorization server</a>
    </footer>
</main>
</body>
</html>